@font-face {font-family: "Source Sans Pro"; src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: "Source Sans Pro"; src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype'); font-weight: lighter;font-style: normal;}

body{ background-color: rgb(247, 247, 244); color:rgb(30, 30, 30); font-family: 'Source Sans Pro'; font-weight: lighter; max-width: 750px;font-size: x-large;}
.textareaElement{background-color: white;font: inherit; width: 100%; padding: 10px;border:1px solid #ccc; max-height: 100px; overflow-x: hidden; overflow-y: auto;}

.red {background-color: #fcc1c1}
